@using MAS_CRMWebUI.Areas.AdminPanel.Models.Payment
@model List<PaymentDTO>
@{
    ViewData["Title"] = "";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="card">
    <div class="card-header">
        <div class="card-tools col-2">
            <a href="#" class="btn btn-primary btn-block mb-2" data-toggle="modal" data-target="#modal-AddPayment">Ödeme Ekle</a>
        </div>
        <div class="card-tools col-10">
            <h3>Payments</h3>
        </div>
    </div>
</div>

<div class="card-body">
    <table id="tblOdemeler" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>TotalPrice</th>
                <th>PaymentDate</th>
                <th>PaymentMethod</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>

            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.TotalPrice $</td>
                        <td>@item.PaymentDate</td>
                        <td>@item.PaymentMethod</td>
                        <td><button type="button" class="btn btn-block btn-warning btnGetPaymentDetail" data-toggle="modal" data-target="#modal-UpdatePayment" data-guid="@item.Guid">Görüntüle</button> </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="modal-AddPayment">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Payment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group row">
                    <label for="txtTotalPrice_Add" class="col-sm-3 col-form-label">TotalPrice</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtTotalPrice_Add">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtPaymentDate_Add" class="col-sm-3 col-form-label">PaymentDate</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtPaymentDate_Add">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtPaymentMethod_Add" class="col-sm-3 col-form-label">PaymentMethod</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtPaymentMethod_Add">
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="btnAddPayment">Kaydet</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-UpdatePayment">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Payment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="txtTotalPrice_Update" class="col-sm-3 col-form-label">TotalPrice</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtTotalPrice_Update">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtPaymentDate_Update" class="col-sm-3 col-form-label">PaymentDate</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtPaymentDate_Update">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtPaymentMethod_Update" class="col-sm-3 col-form-label">PaymentMethod</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtPaymentMethod_Update"> @* disabled="disabled" işlemi güncellemeyi engeller değiştirilemez!!! *@
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="btnUpdatePayment">Kaydet</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    $(function () {
        $("#tblOdemeler").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#tblOdemeler_wrapper .col-md-6:eq(0)');

        $('#btnAddPayment').click(function () {
            var addPaymentRequestDTO = {
                "TotalPrice": $('#txtTotalPrice_Add').val(),
                "PaymentDate": $('#txtPaymentDate_Add').val(),
                "PaymentMethod": $('#txtPaymentMethod_Add').val()
            };

            $.ajax({
                url: "/Admin/OdemeEkle",
                type: "post",
                data: { addPaymentRequestDTO },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-Token", $('input:hidden[name="__RequestVerificationToken"]').val())
                },
                success: function (response) {
                    if (response.success) {


                        Swal.fire({
                            title: "İşlem Başarılı",
                            html: "Ödeme Başarıyla Eklenmiştir.Sayfa Tekrar Yükleniyor...",
                            icon: "success",
                            timer: 3000
                        }).then((result) => {
                            window.location.reload();
                        });
                    }
                    else {
                        Swal.fire({
                            title: "HATA OLUŞTU",
                            text: response.hataAciklama,
                            icon: "error"
                        });
                    }
                },
                Error: function (err) {
                    Swal.fire({
                        title: "HATA OLUŞTU",
                        text: err,
                        icon: "error"
                    });
                }

            });

        });


        $('.btnGetPaymentDetail').click(function () {
            var guid = $(this).attr('data-guid')

            $.ajax({
                url: "/Admin/Odeme/" + guid,
                type: "get",
                success: function (response) {

                    $('#txtTotalPrice_Update').val(response.TotalPrice)

                    $('#txtPaymentDate_Update').val(response.PaymentDate)

                    $('#txtPaymentMethod_Update').val(response.PaymentMethod)


                    $('#btnUpdatePayment').attr('data-guid', guid)

                },
                Error: function (err) {
                    Swal.fire({
                        title: "Hata Oluştu",
                        text: err,
                        icon: "error"
                    });
                }
            });
        })

        $('#btnUpdatePayment').click(function () {
            paymentGuid = $(this).attr('data-guid');
            var paymentUpdateRequestDTO = {
                "TotalPrice": $('#txtTotalPrice_Update').val(),
                "PaymentDate": $('#txtPaymentDate_Update').val(),
                "PaymentMethod": $('#txtPaymentMethod_Update').val(),
                "Guid": paymentGuid
            };

            $.ajax({
                url: "/Admin/UpdatePayment",
                type: "post",
                data: { paymentUpdateRequestDTO },
                success: function (response) {
                    if (response.success) {


                        Swal.fire({
                            title: "İşlem Başarılı",
                            html: "Müşteri Bilgileri  Başarıyla Güncellenmişir.Sayfa Tekrar Yükleniyor.",
                            icon: "success",
                            timer: 3000
                        }).then((result) => {
                            window.location.reload();
                        });
                    }
                    else {
                        Swal.fire({
                            title: "HATA OLUŞTU",
                            text: err,
                            icon: "error"
                        });
                    }
                },
                Error: function (err) {
                    Swal.fire({
                        title: "HATA OLUŞTU",
                        text: err,
                        icon: "error"
                    });
                }

            });

        });





    });



</script>